# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

root = true

# All files
[*]
indent_style = space
indent_size = 4

[*.cs]

# IDE0044: Add readonly modifier
dotnet_style_readonly_field = false:suggestion
